<!-- Collaborators -->
<section class="bg-light page-section" id="collaborators">
        <div class="container">
                <div class="row">
                        <div class="col-lg-12 text-center">
                                <h2 class="section-heading text-uppercase">
                                        {{ site.data.sitetext[site.locale].collaborators.title | default:
                                        "Collaborators" }}</h2>
                                {% if site.data.sitetext[site.locale].collaborators.text %}
                                <h3 class="section-subheading text-muted">{{
                                        site.data.sitetext[site.locale].collaborators.text }}</h3>
                                {% endif %}
                        </div>
                        <div class="col-md-6">

                                <div class="card collaborators flex-md-row mb-4 box-shadow h-md-250">
                                        <div class="card-body d-flex flex-column align-items-start">
                                                <strong class="d-inline-block mb-2 text-success">Gut Microbiome</strong>
                                                <h4 class="service-heading"><a href="https://TMRLab.github.io/" target="_blank">Braedon McDonald</a></h4>
                                                <div class="text-muted">Advancing best practices for microbiome xenografting in murine systems and bioinformatics to profile models against host properties.</div>
                                        </div>
                                        <img class="card-img-right flex-auto d-none d-md-block"
                                                src="/assets/img/collaborators/Braedon_McDonald.png">
                                </div>

                                <div class="card collaborators flex-md-row mb-4 box-shadow h-md-250">
                                        <div class="card-body d-flex flex-column align-items-start">
                                                <strong class="d-inline-block mb-2 text-info">scRNA-seq Analysis</strong>
                                                <h4 class="service-heading"><a href="https://www.gillrielab.com/" target="_blank">Mark Gillrie</a></h4>
                                                <div class="text-muted">Human organ-on-chip models of bone marrow to study cell trafficking and communication, integrating scRNA-seq and bioinformatics.</div>
                                        </div>
                                        <img class="card-img-right flex-auto d-none d-md-block"
                                                src="/assets/img/collaborators/Mark_Gillrie.png">
                                </div>

                        </div>
                        <div class="col-md-6">

                                <div class="card collaborators flex-md-row mb-4 box-shadow h-md-250">
                                        <div class="card-body d-flex flex-column align-items-start">
                                                <strong class="d-inline-block mb-2 text-danger">Medical Informatics</strong>
                                                <h4 class="service-heading"><a href="https://lab.christinathornton.ca/" target="_blank">Christina Thornton</a></h4>
                                                <div class="text-muted">Designing and building a patient registry, accessible online beyond hospital EMRs, to enable multi-institute research in bronchiectasis.</div>
                                        </div>
                                        <img class="card-img-right flex-auto d-none d-md-block"
                                                src="/assets/img/collaborators/Christina_Thornton.png">
                                </div>

                                <div class="card collaborators flex-md-row mb-4 box-shadow h-md-250">
                                        <div class="card-body d-flex flex-column align-items-start">
                                                <strong class="d-inline-block mb-2 text-info">scRNA-seq Analysis</strong>
                                                <h4 class="service-heading"><a href="https://www.markusgeukinglab.ca/" target="_blank">Markus Geuking</a></h4>
                                                <div class="text-muted">Profiling thymic dendritic cells in germ-free, specific-pathogen-free, and microbiota-xenografted mice using single-cell technology.</div>
                                        </div>
                                        <img class="card-img-right flex-auto d-none d-md-block"
                                                src="/assets/img/collaborators/Markus_Geuking.png">
                                </div>

                        </div>
                </div>
        </div>
</section>
<!-- End Collaborators -->
<!-- SRC: https://getbootstrap.com/docs/5.3/utilities/colors/ -->