<!-- Projects -->
<section class="bg-light page-section" id="projects">
        <div class="container">
                <div class="row">
                        <div class="col-lg-12 text-center">
                                <h2 class="section-heading text-uppercase">Projects</h2>
                                <h3 class="section-subheading text-muted">Examples of how we apply our expertise</h3>
                        </div>
                </div>
                <div class="row">
                        <div class="col-lg-6 col-12">
                                <div class="timeline">

                                        <div class="timeline-wrapper">
                                                <div class="timeline-yr"><span>Sep 2025
                                                        </span></div>
                                                <div class="timeline-info"><a
                                                                href="https://docs.google.com/presentation/d/1L9hvrK0oitx2xsBYMPefW9C8DHmzQZ-72elSHrvY1YE/edit?usp=sharing"
                                                                target="_blank">
                                                                <h4 class="timeline-heading">Data Management Plan
                                                                </h4>
                                                        </a>
                                                        <p class="timeline-subheading">Guidelines for managing, storing,
                                                                and sharing data
                                                        </p>
                                                </div>
                                        </div>

                                </div> <!-- end of timeline div -->
                        </div> <!-- end of col -->

                        <div class="col-lg-6 col-12">
                                <div class="timeline">

                                        <!--div class="timeline-wrapper">
                                                <div class="timeline-yr"><span>Mar 2025
                                                        </span></div>
                                                <div class="timeline-info"><a href="VisiumHD_SarcomaPt_2025/"
                                                                target="_blank">
                                                                <h4 class="timeline-heading">Sarcoma Patient Case Study
                                                                </h4>
                                                        </a>
                                                        <p class="timeline-subheading">&nbsp;&nbsp;10X Genomics VisiumHD
                                                                by Dr. Sorana Morrissy
                                                        </p>
                                                </div>
                                        </div-->

                                </div> <!-- end of timeline div -->
                        </div> <!-- end of col -->
                </div> <!-- end of row -->
        </div>
</section>
<!-- End Projects -->